<div class="leader-card-wrapper">
	<div class="avatar-pic">
		<%= cl_image_tag leader.pictures.last.path, class: "avatar-xxl" if leader.pictures.last %>
	</div>
	<div class="leader-name">
		<p><%= "#{leader.first_name} #{leader.last_name}" %></p>
	</div>
	<div class="leader-bio">
		<p><%= leader.biography %></p>
	</div>
	<div class="leader-links">
		<% if current_page?(leader_list_path) %>
		<%= link_to "Edit", edit_retreat_leader_path(leader), class: "btn-xs btn-warning" %>
		<%= link_to "Remove", retreat_leader_path(leader), method: :delete, data: {confirm: 'Are you sure?' }, class: "btn-xs btn-danger" %>
		<% else %>
		<a href="mailto:<%= leader.email %>"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<% end %>
	</div>
</div>