<div class="container">
  <h1 class="text-center"><%= "#{current_user.first_name}'s" %> Dashboard</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <ul class="dashboard-menu">
        <li>
          <a class="dash-tab dashboard-btn active" data-target="#retreat-list">Retreats</a>
        </li>
        <li>
          <a class="dash-tab dashboard-btn" data-target="#properties-list">Properties</a>
        </li>
        <li>
          <a class="dash-tab dashboard-btn" data-target="#booking-list">Bookings</a>
        </li>
        <li>
          <a class="dash-tab dashboard-btn" data-target="#completed-bookings">Completed</a>
        </li>
        <hr>
        <li>
          <a class="dash-tab dashboard-btn dashboard-green-btn" data-target="#new-property">Add New Property</a>
        </li>
        <li>
          <a class="dash-tab dashboard-btn dashboard-green-btn" data-target="#new-retreat">Add New Retreat</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="dashboard-results">
        <div id="retreat-list" class="dashboard-content">
        <% @properties.each do |prop| %>
          <% if prop.retreats.first %>
          <h4><%= "#{prop.name} Retreats" %></h4>
          <% prop.retreats.each do |ret| %>
          <%= render 'retreats/retreat_card', retreat: ret %>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <div id="properties-list" class="dashboard-content">
          <% @properties.each do |prop| %>
          <%= render 'property_card', property: prop %>
          <% end %>
        </div>
        <div id="booking-list" class="dashboard-content">
          <h1>BOOKINGS</h1>
        </div>
        <div id="completed-bookings" class="dashboard-content">
          <h1>COMPLETED</h1>
        </div>
        <div id="new-property" class="dashboard-content">
          <%= render 'property_form', property: @property %>
        </div>
        <div id="new-retreat" class="dashboard-content">
          <%= render 'retreats/new_retreat_form', retreat: @retreat %>
        </div>
      </div>
    </div>
  </div>
</div>
