<div class="company-content">
  <div class="container">
    <h3>Hello <%= @user.first_name %></h3>
    <h3>Please fill this form to become a Retreat Leader</h3>
    <small>(Custom text for now)</small>
    <div class="company-registration-form">
      <%= simple_form_for @user, url: create_leader_path(@user), method: :put do |f| %>
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :country, priority: ["United States"] %>
      <%= f.input :state, collection: User::STATES, prompt: "Select state" %>
      <%= f.input :city %>
      <%= f.input :street_address %>
      <%= f.input :phone_number %>
      <% if !@user.profile_picture && !@user.facebook_picture_url %>
      <%= f.input :profile_picture, as: :attachinary %>
      <% end %>
      <div class="inline-fields">
      <%= f.button :submit, "Continue", class: "btn btn-primary" %>
      <%= link_to 'Cancel', :back, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
