<%= simple_form_for retreat do |f| %>
<%= f.input :pictures, as: :attachinary, label: "Pictures (last uploaded will be a card cover picture)" %>
<div class="inline-fields">
<%= f.input :name %>
<%= f.input :price %>
<%= f.input :available_spots %>
</div>
<div class="inline-fields">
<%= f.input :phone_number %>
<%= f.input :email %>
</div>
<div class="inline-fields">
<label for="datepickerIn">From:</label>
	<input type="text" id="datepickerIn" name="retreat[start_date]"
	placeholder="<%= retreat.start_date.strftime('%d %B %Y') %>" readonly="readonly" style="width: 150px">
	<label for="datepickerOut">To:</label>
	<input type="text" id="datepickerOut" name="retreat[end_date]"
	placeholder="<%= retreat.end_date.strftime('%d %B %Y') %>" readonly="readonly" style="width: 150px">
	</div>
<div class="inline-fields">
<%= f.input :country, priority: ["United States"] %>
<%= f.input :state, collection: User::STATES, prompt: "Select State" %>
<%= f.input :city %>
</div>
<%= f.input :street_address %>
<%= f.input :video %>
<%= f.input :description %>
<div class="text-center">
<%= f.button :submit, "Preview & Update", class: "btn btn-primary" %>
<%= link_to "Back", root_path, class: "btn btn-danger" %>
</div>
<% end %>