<%= simple_form_for retreat do |f| %>
<div class="inline-fields">
<%= f.input :property_id, label: "Property of Retreat", collection: current_user.properties, prompt: "Choose property" %>
	<%= f.input :available_spots %>
	<%= f.input :price %>
</div>
<h4>Select Dates</h4>
<label for="datepickerIn">Start:</label>
<input type="text" id="datepickerIn" name="retreat[start_date]" placeholder="yyyy-dd-mm" readonly="readonly" style="width: 150px">
<label for="datepickerOut">End:</label>
<input type="text" id="datepickerOut" name="retreat[end_date]" placeholder="yyyy-dd-mm" readonly="readonly" style="width: 150px">
<div class="inline-fields">
	<%= f.input :video %>
</div>
<div class="text-center">
	<%= f.button :submit, class: "btn btn-primary" %>
	<%= link_to "Back", root_path, class: "btn btn-danger" %>
</div>
<% end %>

<% content_for(:after_js) do %>
<script>
	$(function() {
		var start_date = new Date();
		var end_date = new Date();
		$("#datepickerIn").datepicker({
			dateFormat: "yy-mm-dd",
			minDate: new Date(),
			defaultDate: new Date(),
			onSelect: function(sDate) {
				start_date = new Date(sDate);
				$("#datepickerOut").val("");
				$(".total-price-result p").text("");
				$("#datepickerOut").datepicker({
					dateFormat: "yy-mm-dd",
					minDate: start_date,
					defaultDate: start_date,
					onSelect: function(eDate) {
						end_date = new Date(eDate);
					}
				});
			}
		});
	} );
</script>
<% end %>


