<div class="card-layout">
  <%= cl_image_tag retreat.pictures.last.path, size: '600x400', crop: :thumb, gravity: :center, class: "card-image" if retreat.pictures.first %>
  <div class="card-name">
    <p><%= retreat.name %></p>
  </div>
  <!-- For company dashboard -->
  <% if current_page?(leader_dashboard_path) %>
  <div class="card-links company-links">
    <div>
      <%= link_to "Edit", edit_retreat_path(retreat), class: "btn btn-info" %>
      <%= link_to "Delete", retreat_path(retreat), method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
  <% elsif current_page?(retreats_path) %>
  <%= link_to "#", retreat_path(retreat), class: "card-link" %>
  <% end %>
  <div class="card-info">
    <div class="card-left-side">
        <p>Location: <span><%= "#{retreat.city}, #{retreat.country}" %></span></p>
        <div class="card-description">
        <p><span><%= retreat.description %></span></p>
        </div>
    </div>
    <div class="card-right-side">
      <div class="card-price">
        <%= "#{retreat.price.to_i}$" %>
      </div>
      <br>
      <div class="card-rating">
        <% rating = retreat.reviews.average(:rating) %>
        <% count = retreat.reviews.count %>
        <span class="blue-stars">
          <em style='width: <%= rating.nil? ? 0 : rating*20 %>%'></em>
        </span>
        <small>(<%= "#{pluralize(count, 'review')}" %>)</small>
      </div>
    </div>
  </div>
</div>
