<div class="container">
	<%= simple_form_for @retreat do |f| %>
	<%= f.input :pictures, as: :attachinary %>
	<%= f.input :name %>
	<%= f.input :country, priority: ["United States"] %>
	<%= f.input :city %>
	<%= f.input :state %>
	<%= f.input :street_address %>
	<%= f.input :phone_number %>
	<%= f.input :email %>
	<%= f.input :video %>
	<%= f.input :price %>
	<%= f.input :description %>
	<%= f.button :submit, class: "btn btn-primary" %>
	<% end %>
</div>