<div class="retreat-pictures">
	<% @property.pictures.each do |pic| %>
  <div class="ret-pic" style='background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.3) 100%), url(<%= "http://res.cloudinary.com/dijinio/image/upload/#{pic.path}" %>)'>
  </div>
  <% end %>
</div>
<div class="container retreat-container">
  <div class="row">
    <div class="col-xs-12 col-md-8">

      <h3><%= "#{@retreat.name} in #{@retreat.property.city}, #{@retreat.property.state}" %></h3>
      <% rating = @retreat.reviews.average(:rating) %>
      <% count = @retreat.reviews.count %>
      <span class="blue-stars retreat-page">
        <em style='width: <%= rating.nil? ? 0 : rating*20 %>%'></em>
      </span>
      <small>(<%= "#{pluralize(count, 'review')}" %>)</small>
      <hr>

      <p><%= @retreat.description %></p>
      <hr>
      <br>
      <h4>Retreat Details:</h4>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p>Dates:</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p><%= "#{@retreat.start_date.strftime('%d %B')} - #{@retreat.end_date.strftime('%d %B')} (#{(@retreat.end_date - @retreat.start_date).to_i} days)" %></p>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p>Availability:</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p><%= "#{@retreat.available_spots} spots left" %></p>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p>Price:</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p><%= "#{@retreat.price.to_i}$" %></p>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p>Meal Plans:</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <ul class="meal-plan-list">
            <% @retreat.meal_plans.each do |m| %>
            <li><%= m.name%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr>

      <h4>Retreat Leaders:</h4>
      <br>
      <% @retreat.retreat_leaders.each do |r| %>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="avatar-and-name">
            <%= cl_image_tag r.pictures.last.path, :transformation=>[
              {:width=>130, :height=>130, :gravity=>"face", :radius=>"max", :crop=>"crop"},
              {:width=>130}], class: "avatar-xxl" if r.pictures.last %>
              <p><%= "#{r.first_name} #{r.last_name}" %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <p><%= r.biography %></p>
          </div>
        </div>
        <hr>
        <% end %>

        <h4>User Reviews:</h4>
        <% @retreat.reviews.each do |r| %>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="avatar-and-name">
              <% if r.user.profile_picture? %>
              <%= cl_image_tag r.user.profile_picture.path, class: "avatar" %>
              <% else %>
              <%= image_tag r.user.facebook_picture_url || "image_placeholder.png", class: "avatar-large" %>
              <% end %>
              <p><%= r.user.first_name || "no name" %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <span class="blue-stars retreat-page">
              <em style='width: <%= r.rating.nil? ? 0 : r.rating*20 %>%'></em>
            </span>
            <p><%= r.comment %></p>
            <br>
        <hr>
          </div>
        </div>
        <% end %>

      </div>
      <div class="col-xs-12 col-md-4">
        <div class="booking-info">
          <h3><%= "#{@retreat.price.to_i}$" %></h3>
          <p><%= "(#{(@retreat.end_date - @retreat.start_date).to_i} days)" %></p>
          <br>
          <%= link_to "Book", new_booking_path, class: "btn-lg btn-danger" %>
        </div>
      </div>
    </div>
    <% unless @retreat.video.empty? %>
    <h4>Retreat Video:</h4>
    <% clip = @retreat.video[/[^=|\/]*$/] %>
    <iframe width="100%" height="720px" src="https://www.youtube.com/embed/<%= clip %>" frameborder="0" allowfullscreen style="margin-top: 20px"></iframe>
    <% end %>
    <div id="retreat-map"></div>
  </div>
</div>


<% content_for(:after_js) do %>
<script>
	$(document).ready(function() {
		handler = Gmaps.build('Google');
		handler.buildMap({ internal: {id: 'retreat-map'}}, function(){
			markers = handler.addMarkers([
			{
				lat: <%= @property.latitude %>,
				lng: <%= @property.longitude %>,
				infowindow: "<%= @property.street_address %>"
			}
			]);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(15);
		});
	});
</script>
<% end %>
